{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 120,
  "trailingComma": "es5",
  "quoteProps": "consistent"
}
